@{
    this.ViewData["Title"] = "Home Page";
    Dictionary<int, string> randDict = ViewBag.RandomDictionary;
}

<div class="page">
    <div class="row">
        <div class="col-md-9">
            <div class="slider">
                <ul class="slides">
                    @{int carrCounter = 0;}
                    @{List<int> keys = new List<int>();}

                    @foreach (var item in randDict)
                    {
                        if (carrCounter > randDict.Keys.Count)
                        {
                            break;
                        }

                        if (carrCounter >= 3 || !randDict.Any())
                        {
                            break;
                        };

                        <li><a asp-controller="Movies" asp-action="MovieId" asp-route-id="@(item.Key)"><img src="@(item.Value)" alt="Slide 1"></a></li>
                        carrCounter++;
                        keys.Add(item.Key);
                        
                    }
                    @for (int i = carrCounter; i < 3; i++)
                    {
                        <li><a href="#"><img src="dummy/slide-1.jpg" alt="Slide 1"></a></li>
                    };

                    @foreach (var key in keys)
                    {
                        randDict.Remove(key);
                    }

                </ul>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row">
                @{int thumbCounter = 1;}

                @foreach (var item in randDict)
                {
                    if (thumbCounter > randDict.Keys.Count || !randDict.Any() || thumbCounter >= 3)
                    {
                        break;
                    }

                    <div class="col-sm-6 col-md-12">
                        <div class="latest-movie">
                            <a asp-controller="Movies" asp-action="MovieId" asp-route-id="@(item.Key)"><img src="@(item.Value)" alt="dummy/thumb-@(thumbCounter).jpg"></a>
                        </div>
                    </div>
                    thumbCounter++;
                }
                @for (int i = thumbCounter; i < 3; i++)
                {
                    <div class="col-sm-6 col-md-12">
                        <div class="latest-movie">
                            <a href="#"><img src="dummy/thumb-@(i).jpg" alt="dummy/thumb-@(i).jpg"></a>
                        </div>
                    </div>
                };
            </div>
        </div>
    </div> <!-- .row -->

    <div class="row">
        @foreach (var item in randDict)
        {
            if (thumbCounter > randDict.Keys.Count || thumbCounter >= 7 || !randDict.Any())
            {
                break;
            }

            <div class="col-sm-6 col-md-3">
                <div class="latest-movie">
                    <a asp-controller="Movies" asp-action="MovieId" asp-route-id="@(item.Key)"><img src="@(item.Value)" alt="dummy/thumb-@(thumbCounter).jpg"></a>
                </div>
            </div>
            thumbCounter++;
        }
        @for (int i = thumbCounter; i < 6; i++)
        {
            <div class="col-sm-6 col-md-3">
                <div class="latest-movie">
                    <a href="#"><img src="dummy/thumb-@(i).jpg" alt="dummy/thumb-@(i).jpg"></a>
                </div>
            </div>
        };


    </div> <!-- .row -->

</div>