@model Adaptations.Web.ViewModels.Actors.SingleActorViewModel
﻿@using Adaptations.Common

@{
    this.ViewData["Name"] = this.Model.Name;
}

<div class="page-single movie-single cebleb-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="col-md-6">
                    <img src="@Model.ImageUrl" alt="img">
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct">
                    <h1 class="row">@Model.Name</h1>
                    <p class="ceb-single">Actor</p>

                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li>Date of Birth: @Model.BornOn</li>
                                <li>Country: @Model.Country</li>
                            </ul>

                            <hr />

                            <div class="tab-content">
                                <div id="overviewceb" class="tab active">
                                    <div class="row">
                                            <div id="bio">
                                                <h3>@Model.Name's Biography:</h3>
                                                <p id="shortBio" style="display: block">
                                                    Short Bio: @Model.ShortBio .
                                                </p>
                                                <p id="fullBio" style="display: none">
                                                    Full Bio: @Model.Biography
                                                </p>
                                                <button id="seeBio" class="time">See full bio</button>
                                            </div>
                                         
                                    </div>

                                    <hr />

                                </div>
                            </div>
                            <div id="filmography" class="tab">
                                <div class="row">
                                    <div class="rv-hd">
                                        <div id="films">
                                            <h3>@Model.Name's Filmography:</h3>
                                            <button id="seeFilmography" class="time">See all filmography</button>
                                        </div>

                                    </div>
                                    <div class="topbar-filter" style="display: none">
                                        <p>Found <span>@Model.Movies.Count()</span> in total</p>
                                        <p>Movies:</p>
                                        <hr />
                                        <div class="mvcast-item">

                                            @foreach (var movie in Model.Movies)
                                            {
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film">
                                                        <img src="@movie.ImageUrl" alt="@movie.Name" style="width: 80px; height: auto; " />
                                                        <div>
                                                            <a asp-controller="Movies" asp-action="MovieId" asp-route-id="@(movie.Id)">@movie.Name</a>
                                                        </div>
                                                        <p>Release date:  @movie.ReleasedOn</p>
                                                    </div>
                                                </div>
                                            }
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
