@model Adaptations.Web.ViewModels.Books.ListAllBooks

@{
    this.ViewData["Title"] = "All Books, page " + Model.PageNumber;
}



@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<h1>@this.ViewData["Title"]</h1>
<hr />

<div class="dropdown text-md-left text-center float-md-left mb-3 mt-3 mt-md-0 mb-md-0 bg-dark">
    <label class="mr-2">Sort</label>
    <button class="btn btn-lg btn-dark dropdown-toggle" onclick="sort()"></button>
    <div class="dropdown-menu bg-white" hidden="hidden">
        <a asp-controller="Books" asp-action="OrderByTitle" class="dropdown-item bg-white h4">Sort by Title</a>
        <a asp-controller="Movies" asp-action="OrderByDate" class="dropdown-item bg-white h4">Sort by date added</a>
    </div>
</div>

<hr />
<div class="row">
    @foreach (var book in this.Model.Books)
    {
        <div class="media col-md-4">
            <img width="100" height="100" src="@book.ImageUrl" class="mr-3 img-responsive" alt="img">
            <div class="media-body">
                <h5 class="mt-0"><a asp-action="BookId" asp-route-id="@(book.Id)">@book.Title</a></h5>
                <div>@book.Description</div>
                <div>@book.ReleaseYear</div>
                <div>@book.AuthorName</div>
                <div>@book.Genre</div>
            </div>
        </div>
    }
</div>
<hr />

<partial name="_PagingPartial" model="@Model" />

@section Scripts {
    <script>
        function sort() {
            const divItem = $('.dropdown-menu');

            if (divItem.attr('hidden')) {
                divItem.removeAttr('hidden');
                divItem.show('slow');
            } else {
                divItem.attr('hidden', 'hidden');
                divItem.hide('slow');
            }
        }
    </script>
}
