@model Adaptations.Web.ViewModels.Books.SingleBookViewModel
﻿@using Adaptations.Common

@{
    this.ViewData["Title"] = this.Model.Title;
}

<div class="page">
    <div class="breadcrumbs">
        <a href="index.html">Home</a>
        <a href="review.html">Book Review</a>
        <hr />
        <div class="breadcrumbs">
            <span>@Model.Title</span>
        </div>

        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <figure class="movie-poster"><img src=@Model.ImageUrl alt="#"></figure>
                </div>
                <div class="col-md-6">
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <a class="btn btn-outline-primary" asp-area="Administration" asp-controller="Books" asp-action="Edit" asp-route-id="@Model.Id">Edit Book</a>
                        <a class="btn btn-outline-warning" asp-area="Administration" asp-controller="Books" asp-action="Delete" asp-route-id="@Model.Id">Delete Book</a>
                    }
                    <h2 class="movie-title">@Model.Title</h2>
                    <div class="movie-summary">
                        <p>@Model.Description</p>

                    </div>
                    <ul class="movie-meta">
                        <li><strong>Books Sold:</strong> @Model.BooksSold</li>
                        <li><strong>Release Year:</strong> @Model.ReleaseYear</li>
                        <li><strong>Genre:</strong> @Model.Genre</li>
                    </ul>

                    <ul class="starring">
                        <li><strong>Author:</strong> @Model.AuthorName</li>
                        <li>
                            <strong>Characters:</strong>
                            @if (Model.Characters != null && Model.Characters.Any())
                            {
                                <p>Character count: @Model.Characters.Count</p>
                                <ul>
                                    @foreach (var character in Model.Characters)
                                    {
                                        <li>@character.CharacterName : @character.CharacterDescription</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <p>No characters found.</p>
                            }
                        </li>
                    </ul>


                </div>
            </div> <!-- .row -->
            <div class="entry-content">
                <p> @Model.Description</p>
            </div>
        </div>
    </div>
</div>